<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnipShare</title>
</head>
<body>
    <h1>Under Constructions </h1>
    <h1> For Support Contact support@yolab.in</h1>
    
</body>
</html>